:host {
    --palette-background-disabled: #f0f0f0;
    --palette-background-primary: #fff;
    --palette-background-primary-hover: #f5f5f5;
    --palette-background-primary-selected: #ebebeb;
    --palette-background-secondary: #fafafa;
    --palette-background-secondary-selected: #e0e0e0;
    --palette-background-tertiary-hover: #fafafa;
    --palette-brand-primary: #03787c;
    --palette-brand-primary-hover: #014446;
    --palette-brand-primary-selected: #025c5f;
    --palette-error-message-background: #fde7e9;
    --palette-info-message-background: #f1f1f1;
    --palette-link-color: #115ea3;
    --palette-link-hover: #0f548c;
    --palette-link-pressed: #0e4775;
    --palette-link-selected: #106ebe;
    --palette-required-red: #bc2f32;
    --palette-stroke-accessible: #616161;
    --palette-stroke-secondary: #d1d1d1;
    --palette-success-message-background: #dff6dd;
    --palette-text-color-brand-background: #fff;
    --palette-text-correct: #13a10e;
    --palette-text-disabled: #bdbdbd;
    --palette-text-primary: #242424;
    --palette-text-secondary: #424242;
    --palette-text-tertiary: #616161;
    --palette-text-lightest: #757575;
    --palette-warning-message-background: #fff4ce;
    --palette-form-primary: #28767B;
    --palette-form-primary-rgb: 40, 118, 123;
    --palette-form-secondary: #39858A;
    --palette-form-tertiary: #E6ECF2;
    --office-form-theme-primary-color: #28767B;
    --office-form-theme-secondary-color: #39858A;
    --office-form-theme-primary-color-split: 40, 118, 123;
    --office-form-aio-renderer-background: linear-gradient(0deg, rgba(var(--office-form-theme-primary-color-split), 0.06), rgba(var(--office-form-theme-primary-color-split), 0.06)), rgba(255, 255, 255, 0.9);
    --solid-background: linear-gradient(180deg, rgba(40, 118, 123, 0.2) 0%, rgba(40, 118, 123, 0.5) 100%);
    --waves-background: linear-gradient(180deg, rgba(40, 118, 123, 0.18) 0%, rgba(40, 118, 123, 0.63) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.455) 0%, rgba(255, 255, 255, 0) 100%), url(https://cdn.forms.office.net/forms/images/theme/office-stationery2.png) center top / cover no-repeat;
    --waves-background-for-small-card: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(40, 118, 123, 0.12) 0%, rgba(40, 118, 123, 0.54) 100%), url(https://cdn.forms.office.net/forms/images/theme/office-stationery2.png) center top / cover no-repeat;
    --pure-image-background: url(https://cdn.forms.office.net/forms/images/theme/office-stationery2.png) center top / cover no-repeat;
    --palette-gradient-background: radial-gradient(at 12% 7%, hsla(156, 49%, 86%, 1) 0px, transparent 50%), radial-gradient(at 11% 87%, hsla(208, 97%, 81%, 1) 0px, transparent 50%), radial-gradient(at 80% 7%, hsla(181, 45%, 80%, 1) 0px, transparent 50%), radial-gradient(at 80% 90%, hsla(156, 49%, 86%, 1) 0px, transparent 50%), hsla(156, 0%, 100%, 1);
    --current-picked-theme-background: var(--pure-image-background);
}


/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 80%;
    margin: 50px auto;
    border-radius: 4px;

    .heading-wrapper {
        background: var(--palette-form-primary);
        color: var(--palette-text-color-brand-background);
        padding: 1rem 0.75rem 3.125rem 3.125rem;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;

        h1 {
            font-size: 2rem;
            word-break: break-word;
            hyphens: unset;
            font-weight: 400;
            color: var(--palette-text-color-brand-background);
            margin-top: 2.125rem;
        }

        h4 {
            margin-top: 1.25rem;
            font-size: 0.9375rem;
            word-break: break-word;
            hyphens: unset;
            font-weight: 400;
        }

    }

    .content-wrapper {
        background: var(--office-form-aio-renderer-background);
        color: var(--palette-text-primary);
        padding: 1.25rem 1.875rem 4.375rem;
        position: relative;
        text-align: left;
        outline: transparent solid 0.0625rem;

        .notice-container {
            padding: 0px 1.25rem;
            color: var(--palette-text-primary);
            font-size: 0.875rem;
            line-height: 100%;
        }

        .heading {
            margin: 1.25rem 1.25rem 0px;

            .title {
                font-size: 1.3125rem;
                color: var(--palette-form-secondary);
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: initial;
                flex-grow: 2;
                overflow: hidden;
            }

            .subtitle {
                font-size: 0.875rem;
                margin-top: 0.625rem;
                color: var(--palette-text-secondary);
            }
        }

        .question-item {
            padding: 2.1875rem 1.25rem
        }

        .button-wrapper {
            padding: 0px 1.25rem;
            display: flex;
            flex-flow: wrap;
            align-items: center;
            justify-content: space-between;
            margin-top: 1.25rem;
            width: 100%;
        }

        /* Styling Button */
        button {
            display: inline-flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            border: 0.0625rem solid transparent;
            vertical-align: middle;
            white-space: nowrap;
            margin: 0px;
            margin-top: 1.25rem;
            cursor: pointer;
            text-decoration-line: none;
            outline-style: none;
            width: fit-content;
            border-radius: 0.25rem;
            padding: 0px 1.25rem;
            min-width: 5.375rem;
            min-height: 2.5rem;
            line-height: 1.375rem;
            font-weight: 600;
            font-size: 0.875rem;
            color: var(--palette-text-color-brand-background);
            background: var(--palette-form-primary);
        }
    }
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    color: var(--palette-text-primary);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: initial;
    font-size: 1.0625rem;
    line-height: 1.3;
    max-width: 100%;
    position: relative;
    white-space: pre-wrap;

}

/* Styling form-control input, 
		select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: none;
    border-bottom: 3px solid #fff;
    border-radius: 4px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
    resize: none;
}

.form-control input:hover,
.form-control textarea:hover,
.form-control input:focus,
.form-control textarea:focus {
    border: none;
    border-bottom: 3px solid #28767B;
    outline: none;
}

/* Styling form-control Radio 
		button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}