<div class="main-wrapper">
  <div class="left">
    <!-- Create Form -->
    <form id="form">
      <div class="heading-wrapper">
        <h1>
          {{data.surveyHeader}}
        </h1>
        <h4>{{data.surveyHeaderSubtitle}}</h4>
      </div>
      <div class="content-wrapper">
        <!-- <div class="notice-container">
          Hi, Manoj. When you submit this form, the owner will see your name and email address.
        </div> -->

        <div *ngFor="let section of data.sections">
          <div class="heading">
            <div class="title">
              {{section.sectionHeader}}
            </div>
            <div class="subtitle">
              {{section.sectionHeaderSubtitle}}
            </div>
          </div>
          <div *ngFor="let item of section.questions; index as i">
            <div class="question-item">
              <!-- Details -->
              <div class="form-control">
                <label for="name" id="label-name">
                  {{i+1}}. {{item.question}}
                </label>
                <div class="question-subtitle">
                  {{item.questionSubtitle}}
                </div>
                <!-- Input Type Text -->
                <textarea *ngIf="item.type == 'longtext'" [(ngModel)]="item.response" type="text" rows="4"
                  [ngModelOptions]="{standalone: true}" placeholder="Enter your answer"></textarea>

                <!-- checkbox -->
                <div *ngIf="item.type == 'multichoice'">
                  <label *ngFor="let option of item.options; let i = index">
                    <input type="checkbox" (change)="toggleSelection($event, item.options, i, item.response)">{{option}}
                  </label>
                </div>

                <!-- radio -->
                <div *ngIf="item.type == 'singlechoice'">
                  <label *ngFor="let option of item.options">
                    <input type="radio" [(ngModel)]="item.response" [value]="option"
                      [ngModelOptions]="{standalone: true}">{{option}}
                  </label>
                </div>
              </div>

              <div class="form-button" *ngIf="item.AIRelevant">
                <button type="submit" value="submit">
                  View Chat
                </button>
                &nbsp;
                &nbsp;
                <button type="submit" value="submit">
                  Update Chat
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="button-wrapper">
          <!-- Multi-line Text Input Control -->
          <button type="submit" value="submit" (click)="onSubmit()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="right">
    <!-- <pre>{{data | json}}</pre> -->
    <h1>Chat Area - WIP</h1>
  </div>
</div>
<router-outlet></router-outlet>