/* You can add global styles to this file, and also import other style files */
html {
}

body {
    background-color: #cce7e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}